<% @lixotodos = Lixotodo.order("data").limit(18).where("data >= ?", Time.now.beginning_of_day) %>
<% flag = 0 %>
<style>

</style>

<div class="pdf-table">
  <header>
    <div class="table-title">
      <b>TABELA DE RETIRADA DO LIXO</b>
    </div>
    <div class="table-description">
      <p>
        Tarefas: descartar o residuo contido nas lixeiras da cozinha e da area de serviço no deposito que fica em frente a Residencia Universitaria.
      </p>
    </div>
  </header>
  <table>
    <tbody>
    <% @lixotodos.each do |lixotodo| %>
        <% if flag%2 == 0 %>
        <p>
        <div class="tupla-panel" >
            <div class="tupla-title" style="background: #cfd0d1; color: #000000">
              <h3 class="panel-title" style="padding: 3px;"> <strong><%= l(lixotodo.data, :format => :long) %></strong></h3>
            </div>
            <div class="item-group">
        <% end %>
                <div class="item">
                  <b>Nome:</b> <%= lixotodo.residente.nome %> &emsp;  &emsp;
                  <b>Quarto:</b> <%= lixotodo.residente.quarto.numero %> - <%= lixotodo.residente.quarto.piso %>
                </div>
        <% if flag%2 != 0 %>
            </div>
          </div>
            </p>
        <% end %>
        <% flag = flag+1 %>
    <% end %>
    </tbody>
  </table>
</div>