<script>
    document.getElementById("menu-quartos").className = 'active';
</script>
<table>
  <tbody>
  <% @quartos.each do |quarto| %>
      <tr>
        <div class="list-group row">
          <div class="col-lg-9">
            <a href="<%= quarto_path(quarto.id) %>" class="list-group-item">
              <i class="fa fa-fw fa-bed"></i> <%= quarto.numero.to_s + " - " + quarto.piso %>
            </a>
          </div>
          <div class="col-md-3 list-group-item" style="border: none;">
            <% if user_signed_in? %>
              <a class="label label-default" href="<%= edit_quarto_path(quarto) %>">Editar</a>
              <%= link_to t('.destroy'), quarto, method: :delete, :class => 'label label-danger', data: { confirm: 'Are you sure?' } %>
            <% else %>
                <button class="label label-default btn" disabled="disabled">Editar</button>
                <button class="label label-danger btn" disabled="disabled">Excluir registro</button>
            <% end %>
          </div>
        </div>
      </tr>

  <% end %>
  <div class="text-right">
    <a href="#">Ver todos <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  </tbody>
</table>

<br>