<script>
    document.getElementById("menu-cursos").className = 'active';
</script>

<table>
  <tbody>
  <% @cursos.each do |curso| %>
      <tr>
        <div class="list-group row">
          <div class="col-lg-9">
            <a href="<%= curso_path(curso.id) %>" class="list-group-item">
              <i class="fa fa-fw fa-book"></i> <%= curso.nome.to_s %>
            </a>
          </div>
          <div class="col-md-3 list-group-item" style="border: none;">
            <% if user_signed_in? %>
              <a class="label label-default" href="<%= edit_curso_path(curso) %>">Editar</a>
              <%= link_to t('.destroy'), curso, method: :delete, :class => 'label label-danger', data: { confirm: 'Are you sure?' } %>
            <% else %>
              <button class="label label-default btn" disabled="disabled">Editar</button>
              <button class="label label-danger btn" disabled="disabled">Excluir registro</button>
            <% end %>
          </div>
        </div>
      </tr>

  <% end %>
  <div class="text-right">
    <a href="#">Ver todos <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  </tbody>
</table>

<br>