<script>
    document.getElementById("menu-cursos").className = 'active';
</script>

<div class="panel panel-default panel-lixotodo" style="border-top: none;">
  <div class="panel-heading" style="background: #333; color: #eeeeee">
    <h3 class="panel-title"><i class="fa fa-book"></i>  Curso </h3>
  </div>
  <div class="panel-body">
    <div class="list-group row">
      <div class="col-lg-12">
        <div class="list-group-item">
          <i class="fa fa-fw fa-pencil"></i> <b>Nome: </b> &emsp;  &emsp;
          <%= @curso.nome %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Voltar', cursos_path %>
