<script>
    document.getElementById("menu-tabelas").className = 'active';
</script>
<h3>Antecipar tarefa</h3>

<%= render 'form', lixotodo: @lixotodo %>

<%= link_to 'Show', @lixotodo %> |
<%= link_to 'Back', lixotodos_path %>
