<header>
  <div class="contact">
    <p>Ralph Industries, LLC</p>
    <p>32 Ralph Ln</p>
    <p>Ralphsville, IN, RALPH</p>
  </div>
</header>

<h1>Invoice</h1>

<table class="line-items">
  <thead>
  <tr>
    <th class="quantity">Qty</th>
    <th class="item-number">Item #</th>
    <th class="description">Description</th>
    <th class="unit-price">Unit Price</th>
    <th class="total">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  </tbody>
</table>
