<script>
    document.getElementById("menu-tabelas").className = 'active';
</script>
<p>
  <strong>Residente:</strong>
  <%= @lixotodo.residente_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @lixotodo.data %>
</p>

<%= link_to 'Edit', edit_lixotodo_path(@lixotodo) %> |
<%= link_to 'Back', lixotodos_path %>
