@import "bootstrap-sprockets";
@import "bootstrap";

$header-height: 55px;
$content-width: 700px;
$serif-families: "Pacifico", "Georgia", serif;
$sans-serif-families: "Helvetica", sans-serif;
$error-text-color: #B94A48;
$success-text-color: #468847;


* {
  font-family: $sans-serif-families;
  font-size: 14px;
}

@mixin shadow($color, $x, $y, $radius) {
  -moz-box-shadow: $color $x $y $radius;
  -webkit-box-shadow: $color $x $y $radius;
  box-shadow: $color $x $y $radius;
}


.field_with_errors {
  display: inline;
  label { color: $error-text-color; }
  input[type=text], input[type=password], textarea {
    border: 1px solid rgba(189,74,72, 0.5);
    @include shadow(rgba(189,74,72, 0.2), 0px, 0px, 8px);
    &:focus { border: 1px solid rgba(189,74,72, 0.6); }
  }
}
.error_message {
  margin-left: 5px;
  display: inline;
  color: $error-text-color;
}
.padded_flash {
  padding: 10px;
  margin: 10px 0;
  font-weight: bold;
  width: 500px;
}


#notice {
  color: $success-text-color;
  background-color: #DFF0D8;
}
#alert {
  color: $error-text-color;
  background-color: #F2DEDE;
}
.actions{
  @extend .form-group;
}
form{
  input[type=text]{
    @extend .form-control;
  }
  input[type=submit]{
    @extend .btn;
    @extend .btn-success;
  }
  @extend .form-horizontal;
  label{
    @extend .col-sm-2;
    @extend .control-label;
  }
}