@import "bootstrap";

.pdf-table{
  padding: 0px;
}
.tupla-panel{
  border: 1px solid #2f2f2f;
}
.item{
  border-top: 1px solid #2f2f2f;
  padding: 3px;
}
.table-title{
  text-align: center;
  font-size: large;
  border: 1px solid #2E2F30;
  padding: 2px;
}
