<div class="btn btn-primary btn-reuper ttip">
  <i class="fa fa-fw fa-refresh"></i>
  <div class="btn-text">
    Atualizar
  </div>
  <span class=" tooltiptext">Atualizar a lista dos residentes que jรก cumpriram a tarefa de retirada do lixo.</span>
</div>