<div class="btn btn-primary btn-reuper ttip">
  <i class="fa fa-fw fa-refresh"></i>
  <div class="btn-text">
    Atualizar
  </div>
  <span class=" tooltiptext">Atualiza automaticamente a tabela de lixo para que ela seja preenchida pelos residentes disponíveis.</span>
</div>