<div class="btn btn-success btn-reuper ttip">
  <i class="fa fa-fw fa-check-square-o"></i>
  <div class="btn-text">
    Finalizados
  </div>
  <span class="tooltiptext">
    Tabela com residentes que jรก cumpriram a tarefa de retirada do lixo.
  </span>
</div>