<div class="btn btn-warning btn-reuper ttip">
  <i class="fa fa-fw fa-hourglass-start"></i>
  <div class="btn-text">
    TABELA DE LIXO
  </div>
  <span class="tooltiptext">Tabela de lixo a ser cumprida pelos residentes listados.</span>
</div>