<div class="btn btn-default btn-reuper ttip">
  <i class="fa fa-fw fa-download"></i>
  <div class="btn-text">
    Gerar PDF
  </div>
  <span class=" tooltiptext">Gerar PDF da tabela de lixo.</span>
</div>