<div class="btn btn-info btn-reuper ttip">
  <i class="fa fa-fw fa-plus"></i>
  <div class="btn-text">
    Adicionar
  </div>
  <span class="tooltiptext">Adicionar, manualmente, um novo registro em "<%= controller.name %>".</span>
</div>