<ul class="nav navbar-right top-nav">

  <li>
  <a href="<%= new_user_path %>"<i class="fa fa-user-plus" style="color: #51b751"></i> Cadastrar</a>
  </li>
  <li>
  <a href="<%= new_user_sessions_path %>"<i class="fa fa-sign-in" style="color: #74aab7"></i> Login</a>
  </li>

</ul>