<ul class="nav navbar-right top-nav">

  <li>
  <a href="<%= new_user_path %>"<i class="fa fa-bell"></i> Cadastrar</a>
  </li>
  <li>
  <a href="<%= new_user_sessions_path %>"<i class="fa fa-sign-in"></i> Login</a>
  </li>

</ul>